@import "tailwindcss";

html,
body {
    overflow-x: hidden;
}

[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3e %3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 0.6em 0.6em;
    background-position: center;
}

@utility button-base {
    @apply rounded text-xs text-center font-medium px-2 disabled:cursor-not-allowed;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@layer utilities {
    .button-primary {
        @apply button-base text-blue-700 bg-blue-100 enabled:hover:bg-blue-200 disabled:bg-gray-100 disabled:text-gray-500;
    }

    .button-secondary {
        @apply button-base text-gray-700 enabled:hover:bg-gray-100 disabled:text-gray-500;
    }

    .button-tertiary {
        @apply button-base text-gray-500 bg-gray-100 enabled:hover:bg-gray-200 disabled:text-gray-300;
    }

    .button-danger {
        @apply button-base text-red-500 bg-red-100 enabled:hover:bg-red-200 disabled:text-red-300;
    }

    .scrollbar::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: var(--color-gray-500);
    }
}
